body.home {
  #content {
    margin: 0;
  }

  section#introduction {
    margin-top: $font-size-base * 2;
  }

  /*section#our-services {
    background: #DDDDDD;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: $font-size-base * 1.5;
    padding-top: $font-size-base / 2;
    padding-bottom: $font-size-base * 1.5;

    h3 {
      margin-bottom: $font-size-base * 1.5;
    }
  }*/

  section#why-choose-us {
    background: #DDDDDD;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: $font-size-base;
    padding-bottom: $font-size-base * 2;
  }

  footer#site-footer {
    margin-top: 0;
  }
}