{% extends 'base.html.twig' %}

{% block content %}

    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead">Lorem ipsum dolor sit amet</p>
                    <p>Consectetur adipiscing elit. Cras eget mi tempor, porttitor urna lacinia, finibus ipsum. Aenean a nunc eget nibh accumsan convallis. Aenean non erat sit amet dolor dignissim fermentum. Nulla sed aliquet tortor. Quisque molestie dolor condimentum dolor cursus sollicitudin. Nulla facilisi. In hac habitasse platea dictumst. Nullam molestie fermentum ante a tristique. Proin volutpat massa quis vestibulum mattis. Sed vitae ultrices nisi, quis iaculis orci.</p>
                    <p>Nunc tincidunt mollis hendrerit. In ultrices libero at facilisis aliquet. Nunc quis ante eleifend, congue magna sagittis, rutrum libero. Cras euismod rutrum risus, sit amet sodales metus molestie ut. Praesent at convallis nulla. Proin laoreet lorem arcu, quis tempus metus laoreet ac. Integer quis lacinia ante.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="why-choose-us">
        <div class="container">
            <h3 class="text-center">
                Why Choose Us?
            </h3>
            <p>
                Nulla interdum dapibus erat nec elementum. Fusce aliquet tempor mi, vitae sollicitudin arcu
                convallis id. In id vestibulum sapien. Praesent eg
                et bibendum purus quis placerat dui. Duis lacinia nisi sit ansequat lorem nunc
            </p>
            <div class="row">
                <ul class="list-unstyled">
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <h4><i class="fa fa-star" aria-hidden="true"></i> Perfect Experience</h4>
                        <p>
                            Curabitur et metus ac sapien dictum temp us. Nam blandit sed ligula faucibus eleme
                            ntum. Sed sed consequat nisi.
                        </p>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <h4><i class="fa fa-skyatlas" aria-hidden="true"></i> Very Competitive Rates</h4>
                        <p>
                            Daewd ligula faucibus elementum. Sed sed consequat nisi. Etiam mauris massa, sodales
                            lobortis tortor id, dictum sollicit
                        </p>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <h4>
                            <i class="fa fa-rocket" aria-hidden="true"></i> Satisfaction Guatantee</h4>
                        <p>
                            Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor id, dictum
                            sollicitudin felis. Vestibulum tristique urna
                        </p>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <h4><i class="fa fa-random" aria-hidden="true"></i> Honest and Dependable</h4>
                        <p>
                            Sed eleifend ornare metus, non rhoncus elit ultrices quis. Curabitur et metus ac sapien
                            dictum tempus. Nam blandit sed
                        </p>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <h4><i class="fa fa-cloud-upload" aria-hidden="true"></i> Safety &amp; Reliability</h4>
                        <p>
                            Nam blandit sed ligula faucibus elemen
                            tum. Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor
                        </p>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <h4><i class="fa fa-heart" aria-hidden="true"></i> Superior Quality</h4>
                        <p>
                            Etiam mauris massa, sodales lobortis tort
                            or id, dictum sollicitudin felis. Vestibulum tristique urna ex, eu vehicula
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}
